body, html {
  margin: 0px;
  padding: 0px;
  background-color: red;
  font-family: Century, georgia, serif;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
TD {
    font-family: century, georgia, serif;
}
A {color: black
}
A:hover {color : red
}
